* {
  box-sizing: border-box;
}

.backgroundBox {
  width: 1024px;
  height: 600px;
  display: flex;
  align-items: center;
  background-image: url("../images/background.png");
}

.boxWrapper {
  width: 808px;
  height: 544px;
  display: flex;
  align-items: center;
  background-image: url("../images/outerBox.png");
  margin-left: 20px;
}

.boxContainerBox {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.boxContainerBox_bodyBox {
  display: flex;
  flex-direction: row;
}

.boxContainerBox_headerBox {
  width: 96%;
  height: 100%;
  /* background-color: bisque; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 25px 0px 25px;
}

.leftContentsContainer {
  width: 220px;
  height: 430px;
  background-color: white;
  border: 1px solid gray;
  margin: 0px 0px 10px 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.rightContentsContainer {
  background-color: white;
  width: 510px;
  height: 98%;
  border-radius: 15px;
  margin-left: 5px;
}

.profileImageBoxContainer {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.imageHolder {
  width: 155px;
  height: 140px;

  background-color: #c4c4c4;
}

.profileDivideLine {
  width: 155px;
  border-top: 2px dotted #808080be;
  margin-top: 20px;
}

.leftmainBox_profileInfoBox {
  width: 70%;
  height: 45%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  margin-left: 10px;
}

.leftmainBox_profileInfoBox div {
  width: 90%;
  margin-top: 4px;
}

.leftmainBox_profileInfoBox div span {
  margin-left: 5px;
  opacity: 0.7;
}

.leftmainBox_TodayEmotionBox {
  margin-top: 10px;
  width: 90%;
  height: 55px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.leftmainBox_TodayEmotionBox span {
  font-size: 13px;
  opacity: 0.7;
  font-weight: 700;
}
.leftmainBox_TodayEmotionBox select {
  background: none;
  width: 100%;
}

.vistorsCounter {
  width: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 12px;
  margin: 30px 0px 0px 15px;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#dailyVisitorsNum {
  color: red;
}

.mainTitle {
  width: 40%;
  margin-right: 40px;
  font-weight: 900;
  color: #55b2d4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainTitle span {
  text-align: center;
  width: 100%;
}

.privateSetting {
  width: 17%;
  font-size: 13px;
  color: black;
}
#privateSettingArrow {
  color: red;
  margin-left: 5px;
}

iframe {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(153, 153, 153, 1);
  border-radius: 15px;
}
