* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formWrapper {
  width: 540px;
  height: 1000px;
  border: 1px solid rgba(170, 205, 255, 1);
  border-radius: 15px;
  box-shadow: 7px 7px 39px 0px rgba(0, 104, 255, 0.25);
  display: flex;
  flex-direction: column;
  padding: 50px 80px 0px 80px;
}

.formTitle {
  font-size: 30px;
  color: rgba(0, 104, 255, 1);
  font-weight: 900;
  margin-bottom: 40px;
}

.userInfoInputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginInfoInput {
  width: 380px;
  height: 60px;
  border: 1px solid rgba(210, 210, 210, 1);
  border-radius: 10px;
  margin-top: 20px;
  padding-left: 12px;
  font-size: 14px;
}

.phoneNumInputBox {
  display: flex;
  width: 380px;
  margin-top: 25px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.phoneNumInput {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid rgba(210, 210, 210, 1);
}

.phoneNumDash {
  font-size: 20px;
  border-top: 1px solid black;
  width: 11px;
}

.verifyNumBox {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  align-items: center;
}

#verifyNumberSubmitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  border: 1px solid rgba(210, 210, 210, 1);
  border-radius: 8px;
  font-size: 14px;
  color: rgba(0, 104, 255, 1);
  font-weight: bolder;
  background-color: white;
}

#verifyNumber {
  font-size: 18px;
  color: rgba(0, 104, 255, 1);
  margin-right: 10px;
}

#verifyCompleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  border: 1px solid rgba(210, 210, 210, 1);
  border-radius: 8px;
  font-size: 14px;
  color: white;

  background-color: rgba(0, 104, 255, 1);
}

#remainingTime {
  font-size: 17px;
  color: rgba(0, 104, 255, 1);
  margin-right: 10px;
}

#regionSelect {
  width: 380px;
  height: 60px;
  border: 1px solid rgba(210, 210, 210, 1);
  border-radius: 10px;
  color: rgba(121, 121, 121, 1);
  padding-left: 10px;
  font-size: 14px;
}

#genderSelect {
  margin-top: 20px;
}

.errorMsg {
  font-size: 10px;
  color: rgb(226, 15, 15);
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.divideLine {
  width: 380px;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-top: 25px;
}

.submitBtn {
  margin-top: 20px;
  width: 380px;
  height: 75px;
  border: 1px solid rgba(0, 104, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: rgba(0, 104, 255, 1);
  font-family: Noto Sans CJK KR;
  font-size: 18px;
}
